name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install  dependencies
        run: npm ci

      - name: Build the site
        run: npm run build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: M6CZI4yRFUKtlTrES2Xmm73kkprWEX0eNyRna-SI
          accountId: 0a7ad68594f35e5283ac58014a6b49ac
          projectName: platform-christmas-do
          directory: dist
